* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.res{
    height: 30px;
    width: 90px;
    border-radius: 10%;
    border: 2px solid;
}
.clockcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    /* position: relative; */
    /* background-color: black; */
    width: 100%;
    height: 640px;
    /* background-image: url(/image/stopwatch.png); */
    /* background-size: 1400px 1000px; */
    /* background-repeat: no-repeat; */

}
.container1 {
    display: flex;
    gap: 100px;
    /* background-color: green; */

}

.baracontainer {
    display: flex;
    /* color: white; */
    /* background-color: blue; */
    gap: 50px;
}

.container2 {
    display: flex;
    gap: 50px;
}

.container0 {
    display: flex;
    gap: 110px;
    
    /* background-color: red; */
    /* height: 100px; */
    /* position: relative; */
}

.minute {
    font-size: 100px;
}

.hour {
    font-size: 100px;
}

.second {
    font-size: 100px;
}

span {
    font-size: 100px;
}

.start1 {
    /* background-color: purple; */
    font-size: 25px;
    height: 40px;
    width: 100px;
    border-radius: 10%;
    color: rgb(255, 100, 100);

    margin-top: 10px;
    text-transform: capitalize;

}
.stop1 {
    /* background-color: yellowgreen; */
    font-size: 25px;
    height: 40px;
    width: 100px;
    margin-top: 10px;
    border-radius: 10%;
    color: rgb(255, 100, 100);
    text-transform: capitalize;
}
.reset1 {
    /* background-color: skyblue; */
    font-size: 25px;
    height: 40px;
    width: 100px;
    border-radius: 10%;
    color: rgb(255, 100, 100);
    margin-top: 10px;
    text-transform: capitalize;
}
.alarm1{
    font-size: 25px;
    height: 40px;
    /* color: rgb(255, 100, 100); */
    color: rgb(255, 153, 0);
    width: 150px;
    border-radius: 10%;
    margin-top: 10px;
    text-transform: capitalize;
    /* background-color: hotpink; */
}
body{
    background-color: skyblue;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}
.imageclock{
    /* position: absolute; */
    /* display: inline-block; */
    background-image: url(/image/stopwatch.png);
    background-size: 140px 200px;
    background-repeat: no-repeat;
    /* text-align: end; */
    /* background-color: red; */
    /* margin-top: 200px; */
    height: 200px;
    width: 140px;
    top: 244px;
    left: 70px;
    z-index: -2;/
}
h1{
    font-size: 90px;
    text-transform: uppercase;
    color: rgb(255, 100, 100);
    font-weight: lighter;
    font-style: italic;
    /* margin-bottom: 800px; */
    
}
/* #id1{
    position:"absolute";
    bottom:"450px";
    right:"600px";
    color: red;
    font-size:"40px"
} */
@media screen and (min-width:320px) and (max-width:768px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .baracontainer {
        display: flex;
        overflow-y: hidden;
        gap: 0px;
    }
    .minute {
        font-size: 60px;
    }
    
    .hour {
        font-size: 60px;
    }

    .second {
        font-size: 60px;
    }
    
    span {
        font-size: 60px;
    }

    .res {
        width: 80px;
        height: 30px;
        border-radius: 10%;
        border: solid black;
    }
    .container1{
        display: flex;
        gap: 20px;
    }
    .start1{
        font-size: 15px;
        width: 80px;
        height: 30px;
        border-radius: 20%;
        color: rgb(255, 100, 100);
    }
    .stop1{
        font-size: 15px;
        width: 80px;
        height: 30px;
        color: rgb(255, 100, 100);
        border-radius: 20%;
    }
    .reset1{
        font-size: 15px;
        width: 80px;
        height: 30px;
        color: rgb(255, 100, 100);
        border-radius: 20%;
    }
    .container0 {
        display: flex;
        overflow-y: hidden;
        gap: 20px;
    }
    .alarm1{
        font-size: 15px;
        width: 90px;
        height: 40px;
        border-radius: 10%;
        color: rgb(255, 153, 0);
        text-transform: capitalize;
    }
    .container2 {
        display: flex;
        gap: 10px;
    }
    h1{
        /* position: relative; */
        /* bottom: 90px; */
        font-size: 50px;
        text-transform: uppercase;
        color: rgb(255, 100, 100);
        font-weight: lighter;
        font-style: italic;
    }
    .clockcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        align-items: center;
        /* position: relative; */
        /* background-color: black; */
        width: 100%;
        height: 490px;
        /* background-image: url(/image/stopwatch.png); */
        /* background-size: 1400px 1000px; */
        /* background-repeat: no-repeat; */
        /* overflow-y: hidden; */
    
    }   
    .imageclock{
        /* position: absolute; */
        background-image: url(/image/stopwatch.png);
        background-size: 100px 150px;
        background-repeat: no-repeat;
        /* background-color: red; */
        height: 150px;
        width: 100px;
        margin-bottom: -5px;
        /* top: 40px; */
        /* left: 100px; */
        /* z-index: -2; */
    }
    .italic{
        /* position:"absolute"; */
        color: red;
        bottom:"650px";
        right:"200px";
        left: 100px;
        font-size: 10px;
    }
}